.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

.row-divider {
  border-bottom: 1px solid #ccc;
}

input[type="text"] {
  box-sizing: border-box;
}

input[type="radio"] {
  margin-top: -5px;
  vertical-align: middle;
}

.text-lg {
  font-size: 19px;
  margin: 0 0 0 0;
}